@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f0fb7;
  border-radius: 10px;

}

.bg>* {
  z-index: 2;
}

.bg>.main-image {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./assets/landscape.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  color: #fafafa;
}

.title {
  font-size: 75px;
  text-align: center;
}

.links {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.links>div {
  display: flex;
}

.links>div>* {
  cursor: pointer;
  color: #8e54e9;
}

.links>span {
  margin-bottom: 10px;
  padding: 10px;
  background: #ff8008;
  background: -webkit-linear-gradient(to right, #FF8008, #8e54e9);
  background: linear-gradient(to right, #FF8008, #8e54e9);
  cursor: pointer;
  border-radius: 20px;
}

.title>span {
  background: #ff8008;
  background: -webkit-linear-gradient(to right, #FF8008, #8e54e9);
  background: linear-gradient(to right, #FF8008, #8e54e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width:900px) {
  .title {
    font-size: 25px;
  }

  .links>span {
    font-size: 15px;
    padding: 7.5px;
    border-radius: 10px;
  }
}

.loading {
  background: #212121;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading>h1 {
  color: #ff8008;
  font-family: Poppins !important;
  height: 275px;
  width: 275px;
}

.loading>h1>div {
  animation: rotating 120s infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(4320deg);
  }
}